.img{
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;  /* 카드의 너비를 적절하게 조절 */
    height: 200px;
    object-fit: contain; 
    position:relative;
}

.people{
    position:absolute;
    top: 40%;
    left: 40%;
    font-size: 35px;
}

