@font-face {
    font-family: 'Pretendard';
    src: url('../assets/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

 * {
    font-family: 'Pretendard', sans-serif;
  }

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    left: 50px;
}

.icons {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 20px; 
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
}

.content {
    display: flex;
    flex: 1;
}

.main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    margin-left: 292px; /* 사이드바 공간 확보 */
    margin-right: 192px;
}