.writeIcon {
    position: absolute;
    right: 37px;
    bottom: 37px;
}

.h2 {
    color: #000;
    font-family: Pretendard;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title {
    display: flex;
    align-items: center;
    color: #193946;
    font-family: Pretendard;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.titleText {
    display: flex;
    align-items: center; 
}

.Lost {
    font-size: 35px;
}

.comma {
    font-size: 25px;
}

.restTitle{
    font-size: 28px;
}

.intro {
    color: #000;
    font-family: Pretendard;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 3px;
}

.showMore {
    color: #858282;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.stroke {
    flex-grow: 1; /* 🟢 남은 공간을 모두 사용하여 선을 늘림 */
    height: 2px;
    background-color: rgba(0, 0, 0, 2); /* 🟢 연한 회색 선 */
}

.mainpageButtons {
    display: flex;
    justify-content: center; 
    gap: 22px; 
    margin-bottom: 75px;
}